{% extends 'admin/base_admin.html' %}

{% block content %}
<h1>Редактирование пользователя</h1>

  <form method="POST" action="{{ url_for('.edit_user', user_id=user.id) }}">
    <div class="input-group">
      <label for="name">Название файла:</label>
      <input type="text" name="name" id="name" value="{{ user.name }}" required>
    </div>
    <div class="input-group">
      <label for="email">Email:</label>
      <input class="form-control" type="email" name="email" id="email" value="{{ user.email }}" required>
    </div>
    <div class="input-group">
      <button type="submit">Сохранить</button>
    </div>
  </form>
{% endblock %}